<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See https://www.mageworx.com/terms-and-conditions for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageWorx\MultiFees\Model\AbstractFeeManager" type="MageWorx\MultiFeesCustom\Model\AbstractFeeManager"/>

    <preference for="MageWorx\MultiFees\Block\FeeFormInput\Checkbox" type="MageWorx\MultiFeesCustom\Block\FeeFormInput\Checkbox"/>
    <preference for="MageWorx\MultiFees\Block\FeeFormInput\DropDown" type="MageWorx\MultiFeesCustom\Block\FeeFormInput\DropDown"/>
    <preference for="MageWorx\MultiFees\Block\FeeFormInput\Radio" type="MageWorx\MultiFeesCustom\Block\FeeFormInput\Radio"/>

    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="add_mw_product_fees_to_checkout_config" type="MageWorx\MultiFeesCustom\Plugin\AddProductFeesToCheckoutConfigPlugin"/>
    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="productFeeFormAttributes" xsi:type="object">MageWorx\MultiFeesCustom\Block\LayoutProcessor\ProductLayoutProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
